header > div {
  width: 500px;
  border: 1px solid blue;
  justify-content: space-between;
}
header > div > div {
  width: 120px;
  height: 40px;
  border: 1px solid black;
}

/* header .header-link { */
/* width: 120px;
  height: 40px;
  border: 1px solid black; */
/* } */
