button:hover {
  cursor: pointer;
  background-color: blue;
}

.visit-page-map {
  margin: 0 auto;
  width: 400px;
  height: 400px;
}
@media (min-width: 640px) {
  .visit-page-map {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 768px) {
  .visit-page-map {
    width: 600px;
    height: 600px;
  }
}

@media (min-width: 1024px) {
  .visit-page-map {
    width: 800px;
    height: 800px;
  }
}
